#answerarea {
  width: 100px;
}

body {
  font: 12pt "Century Gothic", "Helvetica", "Arial", sans-serif;
}

button {
  font-size: 20pt;
  font-weight: bold;
  margin: 15px auto;
}

#container {
  margin: auto;
  width: 520px;
}

fieldset {
  background-color: #F0F0F0;
  float: left;
  height: 150px;
  margin-right: 15px;
  text-align: center;
}

h1, p, #startoverarea {
  text-align: center;
}

#question {
  font-size: 16pt;
  text-align: center;
  width: 300px;
}

#startoverarea {
  clear: both;
}
